html {
    scroll-behavior: smooth;
}


body {
    font-family: 'TT Travels Next Trial Variable', sans-serif;
    cursor: default;
}

.body-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #1f2123bd;
    z-index: 20;
    opacity: 0;
    visibility: hidden;
    transition: all .3s;
}

.body-overlay.active {
    opacity: 1;
    visibility: inherit;
}

.burger {
    display: none;
}

.container {
    max-width: 1240px;
    margin: 0 auto;
}


.wrapper {
    background-color: #D5E6EF;
}


.wrapper .container {
    border-radius: 100px;
    background-color: #FFFFFF;
    padding: 120px 105px;
}

.button {
    border-radius: 100px;
    background-color: #1C75A4;
    padding: 19px 32px;
    font-weight: 704;
    font-size: 14px;
    color: #fff;
    transition: all .3s;
}

.button:hover {
    background-color: #398FBB;
}

.title {
    font-weight: 807;
    font-size: 36px;
    color: #1F2123;
}

.mini-title {
    font-weight: 807;
    font-size: 36px;
    line-height: 130%;
    color: #1F2123;
    text-wrap: wrap;
}

a.button {
    display: inline-block;
    text-align: center;
}

.hero {
    overflow: hidden;
    width: 100%;
    position: relative;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.6);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    z-index: -1;
    width: 100%;
}

.hero__video {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    z-index: -2;
    width: 100%;
    height: 100%;
}


.mobile-video {
    display: none;
}

.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 0;
}

.header__nav-list {
    display: flex;
    align-items: center;
}

.header__nav-link {
    font-weight: 300;
    font-size: 13px;
    color: #FFFFFF;
    padding: 8px 16px;
    cursor: pointer;
    transition: all .3s;
    border: 1px solid transparent;
    border-radius: 100px;
}

.header__nav-link:hover {
    border: 1px solid #FFFFFF;
}

.hero__title {
    font-weight: 807;
    font-size: 44px;
    line-height: 130%;
    color: #FFF;
    max-width: 620px;
    margin-bottom: 160px;
}

.hero__title span {
    font-family: 'TT Travels Next Trial Bold', sans-serif;
    color: #1C75A4;
    font-weight: 800;
}

.hero__link {
    width: 388px;
    text-align: center;
    margin-bottom: 120px;
}

.hero__body {
    margin-top: 100px;
    margin-bottom: 120px;
}


/*jetskin*/


.jetskin {
    margin-top: 86px;
}

.jetskin__inner {
    width: 100%;
    display: flex;
    justify-content: end;
}

.jetskin__content {
    max-width: 598px;
}

.jetskin__title {
    font-weight: 704;
    font-size: 44px;
    line-height: 130%;
    color: #1F2123;
    margin-bottom: 232px;
}

.jetskin__title span {
    color: #1C75A4;
}

/*about*/
.about {
    margin-top: 120px;
    margin-bottom: -170px;
}

.about__wrapper {
    padding-top: 290px;
    padding-bottom: 120px;
}

.about__title {
    margin-bottom: 60px;
}

.about__items {
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 60px;
}

.about__item {
    display: flex;
    align-items: center;
    max-width: 388px;
}

.about__item-icon {
    margin-right: 12px;
}

.about__item-text {
    font-weight: 350;
    font-size: 16px;
    line-height: 130%;
    color: #484D50;
}

.about__content {
    display: flex;
    justify-content: space-between;

}

.about__content-text {
    position: relative;
    font-weight: 500;
    font-size: 20px;
    line-height: 130%;
    color: #484D50;
    max-width: 388px;
}

.about__content-text span {
    color: #1C75A4;
}

.about__content-text::after {
    position: absolute;
    top: 22%;
    right: 0;
    display: block;
    content: '';
    width: 115px;
    height: 80px;
    background-image: url("../images/arrowtext.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.about__content-frame {
    cursor: pointer;
    transition: all .1s;
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    max-width: 808px;
    width: 808px;
    height: 456px;
    background-image: url("../images/garage.jpg");
    background-size: cover;
    background-position: center;
    transition: all .3s;
}

.about__content-frame:hover {
    /*background-color: rgba(31, 33, 35, 0.6);*/
    box-shadow: inset 0px 0px 20px 4px black;
}

.about__content-frame:hover .about__content-frame-icon {
    transform: scale(1.25);
}


.about__content-frame-icon {
    position: absolute;
    top: calc(50% - 20px);
    left: calc(50% - 20px);
    transition: all 1s;
}

/*equipment*/

.equipment__title {
    margin-bottom: 60px;
}

.equipment__inner {
    display: flex;
    justify-content: space-between;
}

.equipment__image {
    max-width: 598px;
}

.equipment__image img {
    width: 100%;
}

.equipment__content {
    overflow: hidden;
    border: 1px solid #D5E6EF;
    border-radius: 20px;
}

.equipment__content-title {
    padding: 40px 40px 0 40px;
    font-weight: 807;
    font-size: 20px;
    color: #1F2123;
}

.equipment__content-items {
    padding: 4px 40px 20px 40px;
}


.equipment__content-item {
    padding: 16px 0;
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: 350;
    font-size: 14px;
    color: #484D50;
    border-bottom: 1px solid #DAE2E7;
}

.equipment__content-item:last-child {
    border: none;
}

.equipment__content-bottom {
    background-color: #D5E6EF;
    padding: 28px 40px;
}

.equipment__content-bottom-item {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 16px;
    font-weight: 350;
    font-size: 14px;
    color: #484D50;
}

/*additions*/

.additions {
    margin-top: 60px;
    padding: 40px;
    border-radius: 20px;
    border: 1px solid #D5E6EF;
}

.additions__title {
    margin-bottom: 28px;
}

.additions__inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.additions__item {
    max-width: 210px;
}

.additions__item-text {
    font-weight: 350;
    font-size: 14px;
    line-height: 140%;
    color: #484D50;
    margin-top: 12px;
}

/*advantages*/

.advantages {
    margin-top: 120px;
}

.advantages__title {
    max-width: 595px;
    margin-bottom: 60px;
}

.advantages__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 30px;
}

.advantages__item {
    max-width: 318px;
    padding: 20px;
    border: 1px solid #DAE2E7;
    border-radius: 12px;
    display: inline-block;
}

.advantages__image {
    position: relative;
    width: 278px;
    height: 152px;
    border-radius: 12px;
    margin-bottom: 20px;
}

.advantages__play-icon {
    transition: all .3s;
    position: absolute;
    top: 10px;
    right: 10px;
}

.advantages__item:hover .advantages__play-icon {
    transform: scale(1.25);
}

.advantages__name {
    font-weight: 807;
    font-size: 20px;
    color: #1F2123;
    margin-bottom: 12px;
}

.advantages__text {
    font-weight: 350;
    font-size: 14px;
    line-height: 140%;
    color: #484D50;
}

.advantages__button {
    width: 318px;
}

/*technic*/
.technic {
    margin-top: 120px;
}

.technic__title {
    margin-bottom: 44px;
}

.technic__inner {
    display: flex;
    justify-content: space-between;
}

.technic__items {
    max-width: 493px;
}

.technic__item {
    display: flex;
    gap: 40px;
    border-bottom: 1px solid #DAE2E7;
    padding: 16px 0;
    justify-content: space-between;
    align-items: start;
}


.technic__item:last-child {
    border: none;
}

.technic__item-name {
    font-weight: 807;
    font-size: 16px;
    color: #1F2123;
    line-height: 130%;
    max-width: 198px;
}


.technic__item-desc {
    width: 255px;
    max-width: 255px;
    font-weight: 350;
    font-size: 14px;
    line-height: 140%;
    color: #484D50;
    text-align: start;
}

.technic__item-name-link {
    font-weight: 807;
    text-decoration: underline;
    color: #1C75A4;
}

.technic__image {
    max-width: 493px;
}

.technic__image img {
    width: 100%;
}


.technic__button {
    margin-top: 60px;
    padding-left: 80px;
    padding-right: 80px;
}

/*guarantee*/

.guarantee {
    padding: 120px 0;
}

.guarantee__title {
    margin-bottom: 60px;
}

.guarantee__inner {
    display: flex;
    justify-content: space-between;
    gap: 32px;
}

.guarantee__image {
    max-width: 284px;
}

.guarantee__image img {
}

.guarantee__items {
    gap: 32px;
    display: flex;
    flex-wrap: wrap;
}

.guarantee__item {
    max-width: 330px;
}

.guarantee__item-text {
    margin-top: 12px;
    font-weight: 350;
    font-size: 16px;
    line-height: 130%;
    color: #484D50;
}


/*questions*/

.questions-wrapper {
    padding: 120px 0;
}

.questions__title {
    margin-bottom: 60px;
}

.questions__inner {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.questions__item {
    border: 1px solid #DAE2E7;
    border-radius: 12px;
    padding: 20px;
    max-width: 501px;
    transition: all 1s;
    cursor: pointer;
    height: 80%;
}


.questions__item-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 807;
    font-size: 16px;
    line-height: 130%;
    color: #1F2123;
    transition: all 1s;
}


.questions__item-head-title {
    max-width: 421px;
}

.questions__item-head-arrow {
    transition: all .3s;
}

.questions__item-body {
    transition: all 1s;
    margin-top: 12px;
    font-weight: 350;
    font-size: 14px;
    line-height: 140%;
    max-width: 421px;
    color: #484D50;
    display: none;
    scale: 0;
}

.questions__item.active {
    height: 100%;
    border-color: #1C75A4;
}

.questions__item.active .questions__item-head {
    color: #1C75A4;
}

.questions__item.active .questions__item-head-arrow {
    rotate: 180deg;
}

.questions__item.active .questions__item-body {
    display: block;
    animation: acc .3s linear;
    scale: 1;
    transition: all 1s;
}

@keyframes acc {
    0% {
        scale: 0;
    }
    100% {
        scale: 1;
    }
}

.questions__item:hover {
    border-color: #1C75A4;
}

.questions__item:hover .questions__item-head {
    color: #1C75A4;
}

.questions__item-head-arrow svg path {
    transition: all .3s;
}

.questions__item:hover .questions__item-head-arrow svg path {
    stroke: #1C75A4;
}

.questions__item.active .questions__item-head-arrow svg path {
    stroke: #1C75A4;
}

.questions__button {
    margin-top: 60px;
    padding: 18px 168px;
}

/*buy*/

.buy {
    padding-top: 120px;
}

.buy__title {
    margin-bottom: 60px;
}

.buy__inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.buy__left {
    max-width: 388px;
}

.buy__button {
    margin-top: 35px;
    width: 100%;
}

.buy__center {
    max-width: 491px;
}

.buy__product-name {
    font-weight: 807;
    font-size: 20px;
    color: #1F2123;
}

.buy__price {
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 35px;
}

.buy__price-old {
    font-weight: 350;
    font-size: 15px;
    text-decoration: line-through;
    color: #838B8F;
    margin-right: 12px;
}

.buy__price-new {
    font-weight: 807;
    font-size: 20px;
    color: #1C75A4;
}

.buy__sale {
    display: flex;
    justify-content: space-between;
}

.buy__sale-item {
    max-width: 231px;
}

.buy__sale-item-text {
    font-weight: 350;
    font-size: 14px;
    line-height: 140%;
    color: #484D50;
    margin-top: 12px;
}

.buy__info {
    display: flex;
    margin-top: 32px;
    justify-content: space-between;
}

.buy__info-item {
    max-width: 149px;
}

.buy__info-item-title {
    font-weight: 807;
    font-size: 16px;
    line-height: 130%;
    color: #1F2123;
}

.buy__info-item-text {
    margin-top: 4px;
    font-weight: 350;
    font-size: 14px;
    line-height: 140%;
    color: #484D50;
}

.buy__right {
    max-width: 285px;
    padding: 44px 32px;
    border: 1px solid #DAE2E7;
    border-radius: 20px;
}

.buy__right-title {
    font-weight: 807;
    font-size: 20px;
    line-height: 130%;
    color: #1F2123;
    margin-bottom: 32px;
}

.buy__right-contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 32px;
}


.buy__right-contact-info-title {
    font-weight: 807;
    font-size: 16px;
    color: #484D50;
}

.buy__right-contact-info-phone {
    margin-top: 5px;
    font-weight: 350;
    font-size: 14px;
    color: #484D50;
}

.buy__right-socials {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/*send*/

.send {
    margin-top: 120px;
    margin-bottom: 86px;
}

.send__title {
    margin-bottom: 60px;
}

.send__inner {
    display: flex;
    gap: 32px;
    flex-wrap: wrap;
}

.send__action {
    max-width: 348px;
}

.send__action-title {
    font-weight: 807;
    font-size: 20px;
    color: #1F2123;
    margin-bottom: 20px;
}

.send__action-desc {
    margin-bottom: 40px;
}

.send__action-desc-item {
    display: flex;
    align-items: center;
    gap: 8px;
}

.send__action-desc-item:not(:last-child) {
    margin-bottom: 12px;
}

.send__action-desc-item-icon {
    margin-top: -10px;
}

.send__action-desc-item-text {
    font-weight: 350;
    font-size: 14px;
    color: #484D50;
}

.send__form-item-input {
    margin-bottom: 12px;
    border: 1px solid #838B8F;
    border-radius: 100px;
    padding: 16px 24px 18px 25px;
    width: 100%;
    font-weight: 350;
    font-size: 14px;
    color: #838B8F;
}

.send__form-button {
    padding: 18px 24px;
    width: 100%;
    margin-bottom: 12px;
}

.send__form-policy {
    font-weight: 350;
    font-size: 13px;
    line-height: 140%;
    color: #484D50;
}

.send__form-policy a {
    text-decoration: underline;
    color: #1C75A4;
}

/*footer*/

.footer {
    padding: 40px 0;
    background-color: #596170;
}

.footer__top {
    padding-bottom: 20px;
    border-bottom: 1px solid #77797D;
    display: flex;
    justify-content: space-between;
}

.footer__logo {
    max-width: 253px;
}

.footer__logo-image {
    margin-bottom: 20px;
}

.footer__logo-text {
    font-weight: 350;
    font-size: 14px;
    line-height: 140%;
    color: #CFCFCF;
}

.footer__menu {
    max-width: 455px;
}

.footer__menu-title {
    font-weight: 807;
    font-size: 16px;
    color: #fff;
    margin-bottom: 20px;
}

.footer__menu-inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 32px;
}

.footer__menu-link {
    display: block;
    font-weight: 350;
    font-size: 13px;
    color: #CFCFCF;
    margin-bottom: 20px;
}

.footer__contacts {
    max-width: 314px;
}

.footer__contacts-title {
    font-weight: 807;
    font-size: 16px;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.footer__contacts-desc {
    font-weight: 350;
    font-size: 14px;
    color: #CFCFCF;
    margin-bottom: 12px;
}

.footer__contacts-socials {
    margin-top: 6px;
    display: flex;
    align-items: center;
    gap: 12px;
}

.footer__bottom {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 350;
    font-size: 14px;
    color: #9aa1a5;
}

video {
    object-fit: cover;
}

/*media*/

@media (max-width: 1313px) {

    .header .container {
        padding: 40px 20px;
    }

    .container {
        padding: 0 20px;
    }


}

@media (max-width: 1024px) {

}

@media (max-width: 768px) {

    .burger {
        width: 49px;
        height: 40px;
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 7%;
        right: 8%;
        z-index: 100;
        cursor: pointer;
    }


    .burger__element {
        width: 100%;
        height: 8px;
        margin-bottom: 8px;
        border-radius: 20px;
        background-color: #FFFFFF;
        border: 2px solid #838B8F;
        transition: all .3s;
    }

    .burger__element-one, .burger__inner .burger__element-two, .burger__element-three {
        transition: all .3s;
    }


    .burger.active .burger__element {
        border: none;
        background-color: #838B8F;
    }

    .burger.active .burger__inner {
        margin-top: 10px;
    }

    .burger.active .burger__element-one {
        transform: rotateZ(-45deg);
    }

    .burger.active .burger__element-two {
        display: none;
    }

    .burger.active .burger__element-three {
        transform: rotateZ(45deg);
        margin-top: -16px;
    }

    .container {
        padding: 0 40px;
    }

    .header .container {
        padding: 40px 40px;
    }


    .header__nav {
        padding: 23px;
        position: fixed;
        z-index: 50;
        width: 50%;
        top: 0;
        left: 50%;
        right: 0;
        bottom: 0;
        background-color: #D5E6EF;
        transform: translateX(100%);
        transition: all .3s;
    }

    .header__nav.active {
        transform: translateX(0%);
    }

    .header__nav-item {
        padding: 28px 0;
        border-bottom: 2px solid #484D50;
        width: 100%;
    }

    .header__nav-item:last-child {
        border: none;
    }

    .header__nav-list {
        align-items: start;
        flex-direction: column;
        justify-content: center;
        height: 100%;
    }

    .header__nav-link {
        font-family: 'TT Travels Next Trial Bold', sans-serif;
        font-weight: 800;
        font-size: 20px;
        color: #484D50;
        padding: 0;
    }

    .header__nav-link:hover {
        border-color: transparent;
    }

}


@media (max-width: 600px) {
    .hero__title {
        font-size: 32px;
    }
}

@media (max-width: 500px) {
    .header__nav-link {
        font-size: 14px;
    }
}

@media (max-width: 475px) {
    .header__nav {
        width: 100%;
        left: 0;
    }
    .container {
        padding: 0 15px;
    }

    .header .container {
        padding: 40px 15px;
    }

    .hero__title {
        font-size: 27px;
        margin-bottom: 223px;
    }

    .hero__link {
        width: 100%;
    }
}

@media (max-width: 400px) {

}