body {
    font-family: 'TT Travels Next Trial Variable', sans-serif;
    cursor: default;
}

.container {
    max-width: 1240px;
    margin: 0 auto;
}

.button {
    border-radius: 100px;
    background-color: #1C75A4;
    padding: 19px 32px;
    font-weight: 704;
    font-size: 14px;
    color: #fff;
}

.title {
    font-weight: 807;
    font-size: 36px;
    color: #1F2123;
}

a.button {
    display: inline-block;
}

.hero {
    position: relative;
}
.gif {
    position: absolute;
    z-index: -1;
    width: 50%; /* Ширина контейнера 100% экрана */
    height: 739px;
    overflow: hidden;
    border-start-end-radius: 5%;
    border-end-end-radius: 5%;
}

.gif img {
    top: 0;
    left: 0;
    width: 100%; /* Ширина изображения 100% ширины контейнера */
    height: 100%; /* Высота изображения 100% высоты контейнера */
    object-fit: cover;
}

/*header*/

.header {
    padding: 40px 0 40px 0;
}




.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__nav-list {
    display: flex;
    align-items: center;
    margin-right: 100px;
}

.header__nav-link {
    font-weight: 300;
    font-size: 13px;
    color: #838B8F;
    padding: 8px 16px;
    cursor: pointer;
}

/*jetskin*/

.jetskin {
    margin-top: 86px;
}

.jetskin__inner {
    width: 100%;
    display: flex;
    justify-content: end;
}

.jetskin__content {
    max-width: 598px;
}

.jetskin__title {
    font-weight: 704;
    font-size: 44px;
    line-height: 130%;
    color: #1F2123;
    margin-bottom: 232px;
}

.jetskin__title span {
    color: #1C75A4;
}

/*about*/
.about {
    margin-top: 120px;
}

.about__title {
    margin-bottom: 60px;
}

.about__items {
    display: flex;
    align-items: center;justify-content: space-between;
    margin-bottom: 60px;
}

.about__item {
    display: flex;
    align-items: center;
    max-width: 388px;
}

.about__item-icon {
    margin-right: 12px;
}

.about__item-text {
    font-weight: 350;
    font-size: 16px;
    line-height: 130%;
    color: #484D50;
}

.about__content {
    display: flex;
    justify-content: space-between;

}

.about__content-text {
    position: relative;
    font-weight: 500;
    font-size: 20px;
    line-height: 130%;
    color: #484D50;
    max-width: 388px;
}

.about__content-text span {
    color: #1C75A4;
}

.about__content-text::after {
    position: absolute;
    top: 22%;
    right: 0;
    display: block;
    content: '';
    width: 115px;
    height: 80px;
    background-image: url("../images/arrowtext.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.about__content-frame {
    cursor: pointer;
    transition: all .1s;
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    max-width: 808px;
}

.about__content-frame:hover {
    background-color: rgba(31, 33, 35, 0.37);
}

.about__content-frame:hover .about__content-frame-icon {
    transform: scale(1.25) rotate(360deg);
}


.about__content-frame-icon {
    position: absolute;
    top: calc(50% - 20px);
    left: calc(50% - 20px);
    transition: all 1s;
}

.about__content-frame-img {
    position: relative;
    z-index: -1;
    width: 100%;
    object-fit: cover;
}
