body {
    font-family: Montserrat,sans-serif;
    font-weight: 600;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 15px;
}

.wrapper {
    margin: 20px 0 20px 0;
}

.title {
    font-size: 30px;
    text-align: center;
}

.main__slider-one-item, .main__slider-two-item {
    width: 100%;
}

.main__slider-one-item img, .main__slider-two-item img {
    width: 100%;
}


.main__slider-one-arrows, .main__slider-two-arrows {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.arrow {
    width: 40px;
    height: 40px;
    border: 2px solid black;
    cursor: pointer;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .3s;
}

.arrow:hover {
    background-color: gray;
}

@media (max-width: 500px) {
    .title {
        font-size: 25px;
    }
}